/* Universal Styles */

html,
body {
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 1.4;
  margin: 0;
  background-color: white;
}

div {
  display: block;
}

.container {
  width: 960px;
  margin: 0px auto;
}

/* Header */

header {
  height: 30rem;
  padding-top: 1rem;
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: cadetblue;
  padding: 1rem 2rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo span {
  color: white;
  font-size: 1rem;
  margin-left: 1rem;
}

.logo img {
  height: 1.5rem;
}

nav ul li {
  display: inline;
  color: white;
  padding-left: 2rem;
}

.flex {
  display: flex;
  justify-content: flex-end;
}

.tagline {
  display: inline-block;
  background-color: white;
  color: black;
  margin-top: 10rem;
  padding: 1.5rem 5rem;
  margin-right: -2rem;
}

.tagline h1 {
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  font-size: 2rem;
  line-height: 1.2;
}

/* Highlights */

.highlights {
  display: flex;
  justify-content: center;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 8rem;
  width: 5rem;
  margin: 3rem
}

.service img {
  width: 5rem;
}

.service .paper {
  width: 3.5rem;
}

/* Information */

.information {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 0 2.5rem;
}

.column-header {
  font-weight: bold;
  font-size: 1rem;
  background-color: cadetblue;
  color: white;
  text-transform: uppercase;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  width: 10rem;
}

/* Footer */

footer {
  background-color: azure;
  margin-top: 5rem;
}

footer .container {
  display: flex;
  align-items: center;
  padding: 4rem;
}

footer .container img {
  height: 1.5rem;
  margin-right: 1rem;
}

/* Desktop Size */

@media only screen and (min-width: 648px) {
  .mobile-nav {
    display: none;
  }
}

/* Tablet Size */

@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
    margin: 0px auto;
  }
  header {
    padding-top: 0;
    height: 22rem;
  }
  .tagline {
    margin-top: 5rem;
    margin-right: 2rem;
    padding: 0.75rem 4rem;
  }
  .tagline h1 {
    font-size: 1.33rem;
  }
}

/* Phone Size */

@media only screen and (max-width: 648px) {
  .desktop-nav {
    display: none;
  }
  header {
    height: 17rem;
    background-position: 20%;
  }
  .tagline {
    margin-top: 9rem;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
  }
  .tagline h1 {
    font-size: 1rem;
  }
  .flex {
    display: block;
  }
  .highlights {
    flex-direction: column;
    align-items: center;
  }
  .service {
    margin: 1.54rem;
    font-size: 0.77rem;
  }
  .information {
    flex-direction: column;
  }
  .column {
    width: 100%;
  }
  .column-header {
    width: 100%;
    text-align: center;
  }
  .column p {
    margin: 1rem 0.5rem 4rem 0.5rem;
  }
}
