/* Universal Styles */

html,
body {
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 1.4;
  margin: 0;
  background-color: white;
}

div {
  display: block;
}

.container {
  max-width: 960px;
  margin: 0px auto;
}

/* Header */

header {
  height: 30rem;
  padding-top: 1rem;
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: cadetblue;
  padding: 1rem 2rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo span {
  color: white;
  font-size: 1rem;
  margin-left: 1rem;
}

.logo img {
  height: 1.5rem;
}

nav ul li {
  display: inline;
  color: white;
  padding-left: 2rem;
}

.flex {
  display: flex;
  justify-content: flex-end;
}

.tagline {
  display: inline-block;
  background-color: white;
  color: black;
  margin-top: 10rem;
  padding: 1.5rem 5rem;
  margin-right: -2rem;
}

.tagline h1 {
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  font-size: 2rem;
  line-height: 1.2;
}

/* Highlights */

.highlights {
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: 3rem 0;
}

.service {
  height: 8rem;
  margin: 0 3rem;
}

.service img {
  width: 5rem;
}

.service img .paper {
  width: 3.5rem;
}
